:root {
  --trans: 0.4s all ease;
  --poppins: "Poppins";
  --green: #2d6a4f;
}

body {
  background: #2d6a4f;
  font-family: var(--poppins);
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

body * {
  box-sizing: border-box;
}

.header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  min-height: 100px;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px 0 100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
  min-height: 100vh;
  background: #f9f5f3;
  border-radius: 8px;
}

a {
  color: #000;
  text-decoration: none;
  font-family: var(--poppins);
}

.header .default {
  padding: 20px;
  display: block;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header .default:hover {
  background: #f2efee;
}

.form-control {
  border: none;
  outline: none;
  padding-left: 20px;
  width: 100%;
  font-size: 16px;
  font-family: var(--poppins);
  background: none;
  min-width: 300px;
}

form {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
}

.default {
  text-transform: uppercase;
  transition: var(--trans);
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
}

form button {
  min-width: 150px;
  height: 50px;
  background: var(--green);
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 10rem;
  cursor: pointer;
  font-family: var(--poppins);
  font-size: 15px;
  transition: var(--trans);
}

form button:hover {
  transform: scale(1.05);
}

.row {
  display: flex;
}

.sidebar {
  width: 40%;
  background: #fff;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipes {
  width: 60%;
  background: #f9f5f3;
}

.app {
  padding: 60px 0;
  min-height: 100vh;
}

.actionDiv {
  display: flex;
  height: 100%;
  align-items: center;
}

.default i,
button i {
  font-weight: 600;
  margin-right: 8px;
}

ul.nolist {
  padding: 0;
  margin: 0;
  list-style: none;
}

.singleRecipeItem img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.singleRecipeItem a {
  display: flex;
  align-items: center;
  padding: 20px;
  transition: var(--trans);
}

.singleRecipeItem a:hover,
.singleRecipeItem.active a {
  background: #f9f5f3;
  transform: translateY(-2px);
}

.text-uppercase {
  text-transform: uppercase;
}

.singleRecipeItem .details {
  padding-left: 20px;
}

.singleRecipeItem .details p {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

.singleRecipeItem .details span {
  text-transform: uppercase;
  font-size: 13px;
}

.d-none {
  display: none;
}

.text-center {
  text-align: center;
}

.copyrights {
  padding: 20px 10px;
}

.copyrights p {
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.default.round {
  min-width: 150px;
  background: var(--green);
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 10rem;
  cursor: pointer;
  font-family: var(--poppins);
  font-size: 15px;
  transition: var(--trans);
  padding: 15px 25px;
}

.default.round:hover {
  transform: scale(1.05);
}

.singleRecipe .img img {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
  display: block;
}

.singleRecipe .info {
  margin: 40px 0;
}

.singleRecipe .ingredients {
  background: #f2efee;
  padding: 40px;
}

.singleRecipe li {
  padding-left: 1em;
  text-indent: -1em;
}

.singleRecipe li:before {
  content: "✓";
  padding-right: 5px;
  color: var(--green);
  font-weight: 600;
}

.singleRecipe .how {
  padding: 40px;
}

.singleRecipe .ingredients ul {
  column-count: 2;
}

.singleRecipe .ingredients ul li {
  break-inside: avoid;
  margin-bottom: 20px;
  font-size: 16px;
}

.position-relative {
  position: relative;
}

.singleRecipe .img h2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%) skewY(-6deg);
  color: #fff;
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
  width: 50%;
  text-align: center;
  padding: 18px;
  background: var(--green);
}

.bookmarksContainer {
  position: absolute;
  background: #fff;
  width: 100%;
  min-width: 400px;
  right: 0;
  opacity: 0;
  transition: var(--trans);
  z-index: 1;
  max-height: 400px;
  overflow-y: auto;
}

a[data-action="get__bookmarks"]:hover + .bookmarksContainer,
.bookmarksContainer:hover {
  opacity: 1;
  visibility: visible;
}

.sidebar .results {
  max-height: 120vh;
  overflow-y: auto;
}

.handleBookmark {
  color: #fff;
  background: var(--green);
  width: 50px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  transition: var(--trans);
}

.handleBookmark:hover {
  background: #000;
}

.handleBookmark i {
  margin: 0;
}
